@import "../../../scss/mixins.scss";
@import '../../../scss/variables.scss';

[contenteditable=true]:empty:not(:focus):before{
    content:attr(data-text)
}

.fields
{
    @include noBorder;
    word-break: break-all
}

.spacing
{
    margin-left: 5px;
}

.note
{
    @include noBorder;
}
.hider
{
    opacity: $zeroOpacity;
}
.hider:hover
{
    opacity: $oneOpacity;
}
.collaborators
{
    margin-left: 3%;
}
