@import "../../../scss/mixins.scss";
@import '../../../scss/variables.scss';

[contenteditable=true]:empty:not(:focus):before{
    content:attr(data-text)
}

.fields
{
    @include noBorder();
    word-break: break-all
}
::ng-deep.mat-dialog-container {
    display: contents;
    padding: 0px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    box-sizing: border-box;
    overflow: auto;
    outline: 0;
    width: $width;
    height: 100%;
    min-height: inherit;
    max-height: inherit;
}
.spacing
{
    margin-left: 5px;
}

.note
{
    @include noBorder();
}
.hider
{
    opacity: 0;
}
.hider:hover
{
    opacity: 1;
}
