@import "../../../scss/mixins.scss";
@import '../../../scss/variables.scss';

[contenteditable=true]:empty:not(:focus):before{
    content:attr(data-text)
}

.fields
{
    @include noBorder;
    word-break: break-all
}
::ng-deep.mat-dialog-container {
    padding: 0px ;
    // border-top-left-radius: 12px;
    // border-bottom-left-radius: 12px;
    // border-top-right-radius: 12px;
    // border-bottom-right-radius: 12px;
}
.spacing
{
    margin-left: 5px;
}

.note
{
    @include noBorder;
}
.hider
{
    opacity: $zeroOpacity;
}
.hider:hover
{
    opacity: $oneOpacity;
}
