@import '../../../scss/mixins.scss';
@import '../../../scss/variables.scss';
.spacing
{
    height:90vh;
    margin-left: auto;
    margin-right: auto;
    background-color: #e8e8e8;
}

.spaceTitle
{
    padding-top: 5%;
}

.fullWidth
{
    width: $width;
}
.fields
{
    @include noBorder;
}
[contenteditable=true]:empty:not(:focus):before{
    content:attr(data-text)
}

.card
{
    padding:10px;
    border-radius: 4px;
    width: 500px;
}
.hider
{
    opacity: $zeroOpacity;
}
.hider:hover
{
    opacity: $oneOpacity;
}

.collaboratorCard
{
    border-radius: 8px;
    width: 500px;
}

.space
{
    padding-left: 8px;
}
.fonts
{
    font-size: 13px;
    color:rgb(143, 135, 135);
}
.padding
{
    padding-top: 40px;
}
.border
{
   border-radius: 100%;
}
.column-gap
{
    padding-top:10px;
}


@media only screen and (min-width: 506px) and (max-width: 649px)
{
    .card
{
    width:460px;
}
}
@media only screen and (min-width: 435px) and (max-width: 505px)
{
    .card
{
   
    width:420px;
}
}
@media only screen and (min-width: 391px) and (max-width: 434px)
{
    .card
{
   
    width:380px;
}
}
@media only screen and (min-width: 391px) and (max-width: 434px)
{
    .card
{
    
    width:380px;
}
}
@media only screen and (min-width: 349px) and (max-width: 390px)
{
    .card
{

    width:330px;
}
}
@media only screen and (min-width: 310px) and (max-width: 348px)
{
    .card
{
    width:300px;
}
}

// <--------------------collaborator Card---------------->

@media only screen and (min-width: 506px) and (max-width: 649px)
{
    .collaboratorCard
{
    width:460px;
}
}
@media only screen and (min-width: 435px) and (max-width: 505px)
{
    .collaboratorCard
{
   
    width:420px;
}
}
@media only screen and (min-width: 391px) and (max-width: 434px)
{
    .collaboratorCard
{
   
    width:380px;
}
}
@media only screen and (min-width: 391px) and (max-width: 434px)
{
    .collaboratorCard
{
    
    width:380px;
}
}
@media only screen and (min-width: 349px) and (max-width: 390px)
{
    .collaboratorCard
{

    width:330px;
}
}
@media only screen and (min-width: 310px) and (max-width: 348px)
{
    .collaboratorCard
{
    width:300px;
}
}