<div *ngIf='display' fxLayout="column" fxLayoutWrap fxLayoutAlign="center center" style="margin-top:100px">
  <!-- ******************* Note Card ******************* -->
  
  <mat-card class="card" *ngIf="show">
    <div style="float:left" (click)="toggle()">Take a note...</div>
    <div style="float:right" fxLayout="row" fxLayoutAlign="space-between">
      <mat-icon style="cursor:pointer" matTooltip="List" 
      (click)="togg()">list</mat-icon>
      <div class="spaceTitle"></div>
    </div>
  </mat-card>
  <mat-card *ngIf="!show" class="card" [style.background]="color">
    <mat-card-content>
      <div contenteditable="true" #titleId class="fields" data-text="Title"></div>
      <div style="float:right">
    </div>
      <div class="spaceTitle"></div>
      <div *ngIf = "!move">
      <div  contenteditable="true" #noteId class="fields" data-text="Take a note..." 
      (click)="checked=false"></div>
      </div>
    <div *ngIf="move"  id="title"  autofocus #description>
        <div class="check" *ngFor="let data of dataarray" id="note" fxLayout="row">
        <mat-checkbox fxFlex="5%"></mat-checkbox>
        <input fxFlex="90" id="note" [(ngModel)]=data.data (keydown)="editing($event.data)">
    <mat-icon fxFlex="4%" (click)=ondelete(data) matTooltip="delete">cancel</mat-icon>
    </div>
    <mat-divider></mat-divider>
    <div class="check" fxLayout="row" id="title" id="note" autofocus #description>
    <mat-icon fxFlex="5%">add</mat-icon>
    <input id="note" [(ngModel)]=data fxFlex="95%" class="inputNote" [(ngModel)]=data.data 
    (click)="checked=true" class="fields" placeholder="list item" (keydown.enter)="enter()">
    </div>
    <mat-divider></mat-divider> 
    </div>
    <div class="spaceTitle"></div>
    <!-- ********************* Labels For Taking a Note ******************* -->
    <div fxLayout="row">  
    <div *ngFor="let index of name">
        <mat-chip-list>
          <mat-chip>
            <div style="padding-left:10%">
             {{index.label}}<mat-icon class="hider" (click)="removeLabelTag(content.id,index.id)" 
             style="cursor:pointer" (click)="deleteNoteLabel()">cancel</mat-icon>
            </div>
          </mat-chip>
      </mat-chip-list>
      </div>
      </div>
      <!-- ********************* Reminders for Taking a Note ******************* -->
      <div *ngFor="let index of remArray">
        <mat-chip-list selected>
            <div *ngIf="(today | date:shortDate) == (index | date:shortDate)">
            <mat-chip>
                Today {{index | date:'shortTime'}}<mat-icon class = "hider" 
               style="cursor:pointer" (click)="deleteReminder()">cancel</mat-icon>
            </mat-chip>
            </div>
      <div *ngIf="(tomorrow | date:shortDate )== (index | date:shortDate)">   
            <mat-chip class="chipStyle">
                Tomorrow {{index | date:'shortTime'}}<mat-icon class = "hider" 
               style="cursor:pointer" (click)="deleteReminder()">cancel</mat-icon>
            </mat-chip>
      </div>
      <div *ngIf="(today | date:shortDate) != (index | date:shortDate) &&
            (tomorrow | date:shortDate) != (index | date:shortDate)">
              <mat-chip class="chipStyle">
                {{index | date:'medium'}}<mat-icon class = "hider" 
               style="cursor:pointer" (click)="deleteReminder()">cancel</mat-icon>
              </mat-chip>
      </div>
        </mat-chip-list>
      </div>
<!-- ********************* Icons Selectors for Adding Notes Component ******************* -->
      <div fxLayout="row wrap" fxLayout.xs='row' fxLayoutAlign="space-around center">
         <div>
            <app-remindme [noteDetails]='id' (todayEventDateInfo)="reminderEvent($event)"></app-remindme>
         </div>
         <div *ngIf="display" (click)="collaboratorToggle()">
            <mat-icon style="cursor:pointer" matTooltip="Collaborator">person_add</mat-icon>
         </div>

          <div>
              <app-colorpalette [colorChange]="content" (colorEmit)=colorEntry($event)></app-colorpalette>
          </div>
          <div>
              <app-image></app-image>
          </div>
          <div>
              <app-more (labelEvent) = eventOfLabels($event)></app-more>
          </div>
          <div>
              <button mat-button (click)="addNotes()">close</button>
          </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
<div *ngIf='!display' fxLayout="column" fxLayoutWrap fxLayoutAlign="center center" style="margin-top:100px">
<mat-card class="collaboratorCard">
    <b>Collaborators</b>
    <hr>
    <div fxLayout="column">
    <div >
    <div fxLayout="row" fxLayoutAlign="start end">
    <div>
    <button mat-mini-fab [ngStyle]="{'background-image':'url(' +profilePic+ ')',
    'background-size':'cover'}">
    </button>
    </div>
    <div>
      <div fxLayout="column">
      <div class="space">
          {{firstName}} {{lastName}} (owner)
      </div>
      <div class="space">
        <div class="fonts">{{email}}</div>
      </div>
    
      </div>
    </div>
    
    </div>
    </div>
    <div class="column-gap">
      <div style="margin-top:15px" *ngFor="let index of collabArray">
      <div fxLayout="row">
      <div fxFlex=10>
          <button mat-mini-fab color="primary">{{index.firstName | slice :0:1}} </button>
      </div>
      <div fxFlex=80 fxLayout="column" class="space">
        <div>{{index.firstName}} {{index.lastName}}</div>
        <div class="fonts">{{index.email}}</div>
      </div>
     <div fxFlex=10 fxLayout="row" fxLayoutAlign="end"> 
       <mat-icon style="cursor:pointer" matTooltip="remove"
       (click)="removeCollaborator(index.userId)">cancel</mat-icon></div>
    </div>
    </div>
    <div style="padding-top:15px">
      </div>
    <button mat-mini-fab disabled> <mat-icon>person_add</mat-icon> </button>
    <span style="padding-left:10px">
        <input contenteditable="true" class="fields"
        placeholder="Person or email to share with">
    </span>
    <span style="float:right;cursor:pointer" matTooltip="Save" >
      <mat-icon>done</mat-icon></span>
    
     <mat-menu #menu='matMenu' style="padding-top:20px">
       <div *ngFor="let index of collaboratorArray">
         <button mat-menu-item  (click)="collaborate(index)" (click)="select(index.email)">
            {{index.firstName}} <{{index.email}}>
         </button>
       </div>
     </mat-menu>
    
    </div>
    </div>
    <div class="padding">
    </div>
    
    <div fxLayout="row" fxLayoutAlign="end">
    <button mat-button (click)="collaboratorToggle()">Cancel</button>
    <button mat-button >Save</button>
    </div>
    
  </mat-card> 
</div>

