@import '../../../scss/mixins.scss';
@import '../../../scss/variables.scss';
.spacing
{
    height:90vh;
    margin-left: auto;
    margin-right: auto;
    background-color: #e8e8e8;
}

.spaceTitle
{
    padding-top: 5%;
}

.fullWidth
{
    width: $width;
}
.fields
{
    @include noBorder;
}
[contenteditable=true]:empty:not(:focus):before{
    content:attr(data-text)
}

.card
{
    padding:6px;
    border-radius: 4px;
    width: 45%;
    // width: stretch;
    // margin-left:25%;
    // margin-right:25%;
    // flex : 1 1 auto;
}
.hider
{
    opacity: $zeroOpacity;
}
.hider:hover
{
    opacity: $oneOpacity;
}