@import '../../../scss/mixins.scss';
@import '../../../scss/variables.scss';

mat-card
{
  border-radius: 1%;
} 
.fullWidth
{
    width: $width;
}

.color1
{
  color:$redColor;
  font-size: $fontSize;
}
.color2
{
  color:$blueColor;
  font-size: $fontSize;
}
.color3
{
  color:darkorange;
  font-size: $fontSize;
}
.color4
{
  color:rgb(14, 13, 13);
  font-size: $fontSize;
}
.color5
{
  color:rgb(3, 138, 3);
  font-size: $fontSize;
}
.center
{
    text-align: justify;
}
