
mat-card
{
  border-radius: 1%;
} 
.fullWidth
{
    width: 100%;
}

.color1
{
  color:red;
  font-size: 25px;
}
.color2
{
  color:blue;
  font-size: 25px;
}
.color3
{
  color:darkorange;
  font-size: 25px;
}
.color4
{
  color:black;
  font-size: 25px;
}
.color5
{
  color:green;
  font-size: 25px;
}
.center
{
    text-align: justify;
}
