<div style="margin-top:100px">
    
<div fxLayout="column" fxLayout.xs="column">

<div fxLayout="row" fxLayout.xs="row" fxFlex="100">

<div fxFlex="25">

</div>
<div fxFlex="55" fxLayout.xs="row">
    <p class="fontSize"> Which Fundoo Notes Service Pacakage Do You Want ? </p>
</div>
<div fxFlex="20">

</div>
</div>
</div>
<div fxLayout="100" fxLayout="column" fxLayout.xs="column">

<div fxLayout="row" fxFlex="100" >
        <div fxFlex="10">
        lorem ipsum
        </div>
        <div fxFlex="40">
            <mat-card class="width"> lorem ipsum </mat-card>
        </div>
        <div fxFlex="40">
            <mat-card class="width"> lorem ipsum </mat-card>
        </div>
        <div fxFlex="10">
        lorem ipsum
        </div>
</div> 

</div>
</div>