
.fontSize
{
    font-size: 24px;
}

.toolbar
{
    background-color:#fb0;
    display: flex;
}

.break
{
    word-break: break-word;
    width:180px; 
    height: 205px;
    margin-top: -8%;
    margin-left: -5%;
}
.height
{
    height: 100%;
}
.margin-top
{
    margin-top: 70px;
    
}
.margins-top
{
    margin-top: 75px;
}
.fontColor
{
    color: rgb(58,58,221)
}

.shadow
{
    height: 290px;
    width: 255px;
    background-color:gray
}


.whiteFont
{
    padding: 15px;
    color: white;
    cursor: pointer;
}
.gray
{
    color:gray;
}
.select
{
  height: 320px;
  background-color:#fb0;
  
}
.notSelect
{
    background-color:gray;
}
.notSelect:hover
{
    background-color:#fb0;
}