<div style="height:500px">
    <div style="margin-top:100px">
        <div fxLayout="column">
            <div fxFlex.lg="15" fxFlex.xs="15"></div>
            <div fxFlex.lg="70" fxFlex.xs="70">
                <div fxLayoutAlign="center center" fxLayoutGap="20px"> Which FundooNotes Service
                    Pacakage Do you Want ? </div>
                <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="center center">
                    <mat-card class="break"> word-break:break-word </mat-card>
                    <mat-card class="break"> word-break:break-word </mat-card>
                </div>
            </div>
            <div fxFlex.lg="15" fxFlex.xs="15"></div>
        </div>
    </div>
</div>