@import '../../../scss/mixins.scss';
@import '../../../scss/variables.scss';


.fields
{
    @include noBorder;
    font-size: 16px;
    width:300px
}
.font
{
    // font-weight: bold;
    font-size:20px;
    font-style: italic;
}

[contenteditable=true]:empty:not(:focus):before{
    content:attr(data-text)
}
.width
{
    width:$width;
}

.alignment
{
    margin-top:70px;
    margin-left:125px;
    margin-right:50px;
}
.margin-top
{
    margin-top:10px
}
.questionsAlign
{
    margin-top:50px;
    margin-left:125px;
}
.questions
{
    margin-top:50px;
}
.profilePic
{
    width:50px;
    height:50px;
}
.margin-top-left
{
    margin-top:20px;
    margin-left:180px;
}

.styleFonts
{
    font-size:20px;
}
.margin-left
{
    margin-left:60px;
}
.leftMargin
{
    margin-left:80px;
}
.timeStamp
{
    margin-left: 10px
}
.static
{
    overflow-y:auto;
    overflow-x: auto;
    max-height:425px;
}
