
<div fxLayout="column" fxLayoutAlign="start" fxLayoutWrap class="alignment"> 
  <div fxLayout="row" fxLayoutAlign="end"><button mat-button 
  routerLink="/homepage/cardtemplate"> close </button></div>
<div class="font" [innerHTML]="title"></div>
<div class="margin-top"></div>
<div [innerHTML]="description"></div>
<div>
  <hr>
         <div *ngIf="saveMessage != null">
          Question Asked 
         <div style="font-size:20px" [innerHTML]="saveMessage"></div>
        </div>
        <div class="margin-top"></div>
    <div *ngIf="saveMessage == null">
        <div fxLayout="column">
           <div>Ask A Question</div> 
           <div class="margin-top"></div>
           <div fxLayout="row">
            <div contenteditable="true" #questionTag class="fields" 
             data-text="Type Your Question Here"></div>
             <mat-icon (click)="postQuestion()">done</mat-icon>
         </div>
</div>
</div>
</div>
<div fxLayout="column" class="static">
<div *ngIf="saveMessage != null" >
<div fxLayout="column" class="questions">
  <div fxLayout="row" fxLayoutGap="20px">
    <button class="profilePic" mat-mini-fab [ngStyle]="{'background-image':'url(' + ownerPhoto + ')',
  'background-size':'cover'}"></button>
  <div fxLayout="column">
      <!-- poster firstName -->
  <div>
      <!-- <sub>{{firstName}}</sub>   -->
    <!-- <span class="timeStamp"><sub style="font-size:12px">{{getTime | date : 'short' }}
    </sub></span> -->
</div>
  <div fxLayout="row">
  <div class="styleFonts" [innerHTML]="saveMessage"></div> 
  <div class="margin-left">
  <div *ngIf="likeHide==0" (click)="like()" matTooltip="Like" style="cursor:pointer">
      <img src="../../../assets/images/outline-thumb_up-24px.svg">
      {{likeCounter}}
  </div>
<div *ngIf="likeHide==1" (click)="unLike()" matTooltip="Unlike" style="cursor:pointer"> 
      <img src="../../../assets/images/baseline-thumb_up-24px.svg">
      {{likeCounter}}
</div>

</div>
</div>
</div>
<div>
    <bar-rating [(rate)]="rate" [max]="5"></bar-rating>
</div>
</div>
  
</div>

<!-- </div> -->
<div class="leftMargin" fxLayout="row">
    <div *ngIf="display==0" #reply class="fields" contenteditable="true" 
        data-text="Reply to Question"></div>
        <div>
                <mat-icon style="cursor:pointer" (click)="postReply()">done</mat-icon>
        </div>
</div>
</div>

<div fxLayoutAlign="row" *ngIf="display==1">
    <div class="questions">
        <div fxLayout="row">
            <div>
              <button class="profilePic" mat-mini-fab [ngStyle]="{'background-image':'url(' + ownerPhoto + ')',
              'background-size':'cover'}"></button>
            </div>
           <div style="margin-left:25px"></div>
            <div>
            <div fxLayout="column">
            <div><sub>{{firstName}}</sub></div>
            <div fxLayout="row">
              <div [innerHTML]="message">
              </div>
              <div style="margin-left:25px"></div>    
                  <div class="margin-left" fxLayout="row">
                      <div *ngIf="likeHide==0" (click)="like()" matTooltip="Like" style="cursor:pointer">
                          <img src="../../../assets/images/outline-thumb_up-24px.svg">
                          {{likeCounter}}
                      </div>
                      <div *ngIf="likeHide==1" (click)="unLike()" matTooltip="Unlike" style="cursor:pointer"> 
                          <img src="../../../assets/images/baseline-thumb_up-24px.svg">
                          {{likeCounter}}
                     </div>
                     <bar-rating (rateChange)="rating(index,$event)"
                     [(rate)]="index.rate[0].rate" [max]="5"></bar-rating> 
                    </div>
                      
            </div>
            </div>
          </div>
          </div>
          
    </div>
</div>

<div *ngIf="saveMessage != null" >
    <div *ngFor="let index of replyMessages ;let i=index;" >
        <div *ngIf="i!=0 && parentId==index.parentId" fxLayout="column" class="questions">
          <div fxLayout="row" fxLayoutGap="20px">
            <button class="profilePic" mat-mini-fab [ngStyle]="{'background-image':'url('+ photo +index.user.imageUrl + ')',
          'background-size':'cover'}"></button>
          <div fxLayout="column">
          <div ><sub>{{index.user.firstName}}</sub>
            <span class="timeStamp"><sub style="font-size:12px">
              {{index.createdDate | date:'short'}}</sub></span>
            </div>
            <div #reply class="fields" contenteditable="true" 
        data-text="Reply to Question"></div>
          <div fxLayout="row">
          <div class="styleFonts" [innerHTML]="index.message"></div> 
          <div class="margin-left">
          <div *ngIf="likeHide==0" (click)="like(index.id)" matTooltip="Like" style="cursor:pointer">
              <img src="../../../assets/images/outline-thumb_up-24px.svg">
              {{index.like.length}}
          </div>
          <div *ngIf="likeHide==1" (click)="unLike(index.id)" matTooltip="Unlike" style="cursor:pointer"> 
              <img src="../../../assets/images/baseline-thumb_up-24px.svg">
              {{index.like.length}}
        </div>
        </div>
        </div>
        </div>
        <div>
            <bar-rating *ngIf="index.rate.length!=0" (rateChange)="rating(index,$event)"
            [(rate)]="index.rate[0].rate" [max]="5"></bar-rating>
            <bar-rating *ngIf="index.rate.length==0" (rateChange)="rating(index,$event)" [max]="5"></bar-rating>
        </div>
        </div>

 <!-- ----------------------second level-------------------- -->
 <div *ngFor="let index1 of replyMessages"  style="margin-left: 150px  ">
        <div fxLayout="column" class="questions" *ngIf="index1.parentId==index.id">
          <div fxLayout="row" fxLayoutGap="20px">
            <button class="profilePic" mat-mini-fab [ngStyle]="{'background-image':'url('+ photo +index1.user.imageUrl + ')',
          'background-size':'cover'}"></button>
          <div fxLayout="column">
          <div ><sub>{{index1.user.firstName}}</sub>
            <span class="timeStamp"><sub style="font-size:12px">
              {{index1.createdDate | date:'short'}}</sub></span>
            </div>
            <div #reply class="fields" contenteditable="true" 
        data-text="Reply to Question"></div>
          <div fxLayout="row">
          <div class="styleFonts" [innerHTML]="index1.message"></div> 
          <div class="margin-left">
          <div *ngIf="likeHide==0" (click)="like(index1.id)" matTooltip="Like" style="cursor:pointer">
              <img src="../../../assets/images/outline-thumb_up-24px.svg">
              {{index1.like.length}}
          </div>
          <div *ngIf="likeHide==1" (click)="unLike(index1.id)" matTooltip="Unlike" style="cursor:pointer"> 
              <img src="../../../assets/images/baseline-thumb_up-24px.svg">
              {{index1.like.length}}
        </div>
        </div>
        </div>
        </div>
        <div>
            <bar-rating *ngIf="index.rate.length!=0" (rateChange)="rating(index1,$event)"
            [(rate)]="index.rate[0].rate" [max]="5"></bar-rating>
            <bar-rating *ngIf="index.rate.length==0" (rateChange)="rating(index1,$event)" [max]="5"></bar-rating>
        </div>
        </div>
        </div>
</div>

<!-- ----------------------second level ends --------------- -->
        </div> 
        </div>
</div>
</div>
</div>
 



