<!-- ********************* Forgot Password Component ******************* -->
<div class="container1" fxLayout="column" fxLayout.xs="row">
  <div class="item item-1" fxFlex fxFlexOffset="10%"></div>
  <div class="item item-2" fxFlex fxFlexOffset="10%" fxFlexOrder="3"></div>
  <form>
  <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center" 
  fxLayoutGap="10px" fxLayoutGap.xs="0">
    <div class="item item-3" fxFlex="30%"></div>
    <div class="item item-4" fxFlex="35%" fxFlexOrder="3"></div>
    <div class="item item-5" fxFlex>
      <mat-card>
            <div>
        <!-- ********************* APP NAME ******************* -->
              <div fxLayoutAlign="center">
                <span class="color1" style="font-size: 25px">F</span>
                <span class="color2" style="font-size: 25px">U</span>
                <span class="color3" style="font-size: 25px">N</span>
                <span class="color4" style="font-size: 25px">D</span>
                <span class="color5" style="font-size: 25px">O</span>
                <span style="font-size: 25px">O</span>
              </div>
              <p>
                <font size="4px">Forgot Password</font>
              </p>
              <div>
          <!-- ********************* Input New Password  ******************* -->
                <mat-form-field class="fullWidth">
                  <input matInput placeholder="New Password" autocomplete="off" 
                  [type]="hide ? 'password' : 'text'" [formControl]="password" minlength="6"
                    [formControl]="password" [(ngModel)]="user.password" required>
                  <mat-icon matSuffix (click)="hide = !hide">
                    {{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
                  <mat-error *ngIf="password.invalid">{{getErrorMessagePassword()}}</mat-error>
                </mat-form-field>
              </div>
              <div fxLayoutAlign="end">
                <button mat-flat-button (click)="reset()">Submit</button>
              </div>
            </div>
      </mat-card>
    </div>
  </div>
</form>

