@import '../../../scss/variables.scss';
mat-card
{
  border-radius: 1%;
} 
.fullWidth
{
    width: $width;
}

.color1
{
  color:$colors;
}
.color2
{
  color:$color;
}
.color3
{
  color:rgb(255, 140, 0);
}
.color4
{
  color:rgb(5, 5, 5);
}
.color5
{
  color:rgb(0, 128, 0);
}
.center
{
    text-align: justify;
}
