@import '../../../scss/variables.scss';
@import '../../../scss/mixins.scss';
.fields
{
    width:$width;
}

[contenteditable=true]:empty:not(:focus):before{
    content:attr(data-text)
}

.title
{
  @include noBorder();
  width: $width;
}

