@import '../../../scss/variables.scss';

.fields
{
    width:$width;
}

[contenteditable=true]:empty:not(:focus):before{
    content:attr(data-text)
}

.title
{
  overflow: hidden !important;
  white-space: nowrap;
  text-overflow:ellipsis;
  width: 100%;
}

