@import '../../../scss/variables.scss';
.card
{
    padding:10px;
    border-radius: 4px;
}
mat-card
{
    width: 300px;
    border-radius: 3%
}

.hider
{
    opacity:$zeroOpacity;
}
.hider:hover
{
    opacity:$oneOpacity;
}

.words
{
    word-wrap: break-word;
}