.card
{
    padding:10px;
    border-radius: 4px;
}
mat-card
{
    width: 300px;
    border-radius: 3%
}

.hider
{
    opacity:0;
}
.hider:hover
{
    opacity:2;
}

.words
{
    word-wrap: break-word;
}