<!-- ********************* Navigaton Bar Components ************************* -->
<div>
  <mat-toolbar class="tool">
    <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
      <mat-icon style="color:black" aria-label="Side nav toggle icon">menu</mat-icon>
    </button>
    <div class="title">{{name}}</div> 
    
    <!-- ********************* Search Bar ************************* -->

    <mat-icon class="icon" (click)="navigate()">search</mat-icon>
        <input class="searchBox" fxHide.xs=1  [(ngModel)]="globalSearch" 
        (keydown)="keySearch()"  
        placeholder="Search" autocomplete='on'>
    <div class="aligns"> 
      <i class="material-icons" matTooltip="List View" style="cursor:pointer" 
      (click)="viewToggle()" 
      *ngIf="gridObj == 0">view_stream</i>
      <i class="material-icons" matTooltip="Grid View" style="cursor:pointer" 
      (click)="view()" 
      *ngIf="gridObj == 1">view_module</i> 
    </div>

<!----------------------------------------------------------------------->
    <div>







    </div>
<!--------------------------------------------------------------------------->
    <!-- ********************* Profile Pic Menu *********************** -->
  <div class="align" fxLayout='row' fxLayout="end">
    <button *ngIf="image2!=''" class="profilebutton" [matMenuTriggerFor]="appMenu" 
    matTooltip="{{firstName}} {{lastName}}" 
      style="background:#fb0"><img src="{{img}}" class="profileImage"></button>
        <button *ngIf="image2==''" class="profilebutton" mat-mini-fab [matMenuTriggerFor]="appMenu" 
        matTooltip="{{firstName}} {{lastName}}" 
        style="background:white">
        {{firstName | slice:0:1}}
        </button>
  </div>
        <mat-menu class="nameContent" #appMenu="matMenu" [overlapTrigger]="false">
          <div fxLayout="row" fxLayoutAlign="space-evenly center"  >
          <button *ngIf="image2!=''" (click) = "$event.stopPropagation()" 
          [ngStyle]="{'background-image':'url(' +img+ ')','background-size':'cover'}"
           matTooltip="{{firstName}}"
          mat-mini-fab class="profile-pic">
          <div style="margin-top:70%">
            <div style= "color:white" (click)="selectFile.click()">change</div>
          </div>
          </button>

          <button *ngIf="image2==''" (click) = "$event.stopPropagation()" 
          matTooltip="{{firstName}}"
          mat-mini-fab class="profile-pic" style="background:white;color:black ">
          {{firstName | slice:0:1}}
          <div style="margin-top:60%">
            <div style= "color:black" (click)="selectFile.click()">change</div>
          </div>
          </button>
          <input style="display:none" (click) = "$event.stopPropagation()" class="image"
          type="file" (change)="onFileUpload($event)" #selectFile>
           <div class="miniPanelMenu">
          <mat-content  style="font-size: 14px">
          {{firstName}} {{lastName}}
          {{email}}</mat-content>
          </div>
      </div>
             <hr style="width:99%">
            <div fxLayout="row" fxLayoutAlign="center center">
              <button mat-button (click)="removeToken()"> Log out </button>
            </div>
          </mat-menu>

  </mat-toolbar>
  <mat-sidenav-container style="scroll-behavior: smooth" class="sidenav-container" 
  fxLayout="column">
  <!-- ********************* Side Navigation Contents ************************* -->

    <mat-sidenav style=" background-color:rgb(221,221,230)" #drawer class="sidenav"  
    fixedInViewport="true"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" 
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="!(isHandset$ | async)">
      <!-- ********************* Notes ************************* -->
      <mat-nav-list >
        <a (click)='titles("FUNDOO")' mat-list-item routerLink='/homepage/cardtemplate'>
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" ><path d="M9 21c0 .55.45 1 1 1h4c.55 0 1-.45 1-1v-1H9v1zm3-19C8.14 2 5 5.14 5 9c0 2.38 1.19 4.47 3 5.74V17c0 .55.45 1 1 1h6c.55 0 1-.45 1-1v-2.26c1.81-1.27 3-3.36 3-5.74 0-3.86-3.14-7-7-7zm2.85 11.1l-.85.6V16h-4v-2.3l-.85-.6A4.997 4.997 0 0 1 7 9c0-2.76 2.24-5 5-5s5 2.24 5 5c0 1.63-.8 3.16-2.15 4.1z"></path></svg>
          <div class="gap">Notes</div>
        </a>
        <!-- ********************* Reminders  ************************* -->
        <a (click)='titles("Reminders")' mat-list-item routerLink='/homepage/reminder'>
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" ><path d="M18 17v-6c0-3.07-1.63-5.64-4.5-6.32V4c0-.83-.67-1.5-1.5-1.5s-1.5.67-1.5 1.5v.68C7.64 5.36 6 7.92 6 11v6H4v2h16v-2h-2zm-2 0H8v-6c0-2.48 1.51-4.5 4-4.5s4 2.02 4 4.5v6zm-4 5c1.1 0 2-.9 2-2h-4c0 1.1.9 2 2 2z"></path></svg>
          <div class="gap">Reminders</div>
        </a>
        <hr>
        <!-- ********************* Labels ************************* -->
        <a mat-list-item>
          <mat-icon>view</mat-icon>
          <div class="gap" style="font-size:15px">Labels</div>
        </a>
        <div *ngFor=" let labels of labelArray trackBy:val?.id " 
        (click)='titles(labels.label)'>
          <a mat-list-item (click)="labelByName(labels)"> 
            <mat-icon >label_outline</mat-icon>
            <div class="gap" [innerHTML]="labels.label"></div>
          </a>
        </div>
        <!-- ********************* Creating Labels ************************* -->
        <a mat-list-item (click)="openDialog()">
            <img src="../../../assets/images/outline-edit-24px.svg">
          <div class="gap">Edit labels</div>
        </a>
        <hr>
        <!-- ********************* Archive ************************* -->

        <a (click)='titles("Archive")' mat-list-item routerLink='/homepage/archive'>
          <img src="../../../assets/images/outline-archive-24px.svg">
          <div class="gap">Archive</div>
        </a>
        <!-- ********************* Trash ************************* -->

        <a (click)='titles("Trash")' mat-list-item routerLink='/homepage/bin'>
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" ><path d="M15 4V3H9v1H4v2h1v13c0 1.1.9 2 2 2h10c1.1 0 2-.9 2-2V6h1V4h-5zm2 15H7V6h10v13z"></path><path d="M9 8h2v9H9zm4 0h2v9h-2z"></path></svg>
          <div class="gap">Trash</div>
        </a>
        <hr>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>