@import "../../../scss/mixins.scss";
@import "../../../scss/variables.scss";

.card
{
    border-radius: 8px;
    // flex: 1 1 auto;
}

.words
{
    word-wrap: break-word;
}

.action{
    opacity:$zeroOpacity;
}
.action:hover
{
    opacity:$oneOpacity;
}

.spacing
{
    margin-left:4px;
}

.grid
{
    width: 300px;
}
.list
{
    width: 800px;
}

.hider
{
    margin-left: 24px;
    opacity:$zeroOpacity;
}
.hider:hover
{
    opacity:$oneOpacity;
}
.note
{
    @include noBorder;
}
.paddingTop
{
    padding-top: 5px;
}
.cardAlign
{
    margin-left: 130px;
}
.chipStyle
{
    width: 100px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow:ellipsis;
}

.margin-left-top
{
    margin-left:10%;
    margin-top:20px;
}
.collaborators
{
    margin-left: 3%;
}