@import "../../../scss/mixins.scss";

.card
{
    border-radius: 8px;
    flex: 1 1 auto;
}

.words
{
    word-wrap: break-word;
}

.action{
    opacity:0;
}
.action:hover
{
    opacity:1;
}

.spacing
{
    margin-left:4px;
}

.grid
{
    width: 300px;
}
.list
{
    width: 800px;
}

.hider
{
    margin-left: 24px;
    opacity:0;
}
.hider:hover
{
    opacity:1;
}
.note
{
    @include noBorder();
}
.paddingTop
{
    padding-top: 5px;
}
.cardAlign
{
    margin-left: 130px;
}
.chipStyle
{
    width: 100px;
    overflow: hidden !important;
    white-space: nowrap;
    text-overflow:ellipsis;
}