.round
{
  border-radius: 4%;
}
.upper
{
  text-transform: uppercase;
}
.font
{
  font-size: 30px;
}
.mainWidth
{
  width:100%;
} 
.full-width
{
  width: 100%;
}
.radius
{
  border-radius: 1%;
}

.select
{
  background-color:rgb(43, 117, 114);
  
}
.notSelect
{
  background-color:darkorange;
}
.color1
{
  color:red;
}
.color2
{
  color:blue;
}
.color3
{
  color:darkorange;
}
.color4
{
  color:black;
}
.color5
{
  color:green;
}