@import '../../../scss/variables.scss';
.round
{
  border-radius: 4%;
}
.upper
{
  text-transform: uppercase;
}
.font
{
  font-size: 30px;
}
.mainWidth
{
  width:$width;
} 
.full-width
{
  width: $width;
}
.radius
{
  border-radius: 1%;
}

.select
{
  background-color:rgb(43, 117, 114);
  
}
.notSelect
{
  background-color:rgb(243, 137, 8);
}
.color1
{
  color:$redColor;
}
.color2
{
  color:$blueColor;
}
.color3
{
  color:rgb(255, 140, 0);
}
.color4
{
  color:rgb(0, 0, 0);
}
.color5
{
  color:rgb(0, 128, 0);
}