@import '../../../scss/variables.scss';
mat-card
{
  border-radius: 1%;
} 
.fullWidth
{
    width: $width;
}

.color1
{
  color:$redColor;
}
.color2
{
  color:$blueColor;
}
.color3
{
  color:rgb(252, 141, 7);
}
.color4
{
  color:rgb(0, 0, 0);
}
.color5
{
  color:rgb(0, 128, 0);
}
.center
{
    text-align: justify;
}
