
mat-card
{
  border-radius: 1%;
} 
.fullWidth
{
    width: 100%;
}

.color1
{
  color:red;
}
.color2
{
  color:blue;
}
.color3
{
  color:darkorange;
}
.color4
{
  color:black;
}
.color5
{
  color:green;
}
.center
{
    text-align: justify;
}
