@import '../../../scss/mixins.scss';
@import '../../../scss/variables.scss';

.mat-menu-item {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    @include cursor;
    outline: 0;
    border: none;
    -webkit-tap-highlight-color: transparent;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    line-height: 48px;
    height: 48px;
    // padding: 20px;
    text-align: left;
    text-decoration: none;
    max-width: 100%;
    position: relative;
}

.timeSet
{
    @include cursor;
}