@import '../../../scss/mixins.scss';
@import '../../../scss/variables.scss';

[contenteditable=true]:empty:not(:focus):before{
    content:attr(data-text)
}
.space
{
    padding-left: 8px;
}
.fonts
{
    font-size: 13px;
    color:rgb(143, 135, 135);
}
.padding
{
    padding-top: 40px;
}
.border
{
   border-radius: 100%;
}
.column-gap
{
    padding-top:10px;
}
.fields
{
    @include noBorder;
}
.spacing
{
    padding-left: 8px;
    padding-top: 10px;
}
.margins
{
    margin: 15px 15px 15px 15px;
}
